[submodule "OpenSteamworks.Protobuf"]
	path = OpenSteamworks.Protobuf
	url = https://github.com/OpenSteamClient/OpenSteamworks.Protobuf
[submodule "OpenSteamworks.Native"]
	path = OpenSteamworks.Native
	url = https://github.com/OpenSteamClient/OpenSteamworks.Native
