[Desktop Entry]
Categories=Network;Game;
Comment=Partially open-source alternative to the Steam Client application
Comment[fi]=Vaihtoehtoinen osittain avoimen lähdekoodin Steam-asiakassovellus
Exec=/usr/bin/opensteamclient-gui %U
GenericName=Game Launcher
Icon=opensteamclient
MimeType=
Name=OpenSteamClient
StartupNotify=true
Type=Application