[Desktop Entry]
Categories=Network;Game;
Comment=Community-made Steam frontend
Comment[fi]=Yhteisön tekemä Steam-sovellus
Exec=/usr/bin/opensteamclient %U
GenericName=Game Launcher
Icon=opensteamclient
MimeType=x-scheme-handler/steam;x-scheme-handler/steamlink;
Name=OpenSteamClient
StartupNotify=true
Type=Application