[Desktop Entry]
Categories=Network;FileTransfer;Game;
Comment=Partially open-source alternative to the Steam Client application
Comment[fi]=Vaihtoehtoinen osittain avoimen lähdekoodin Steam-asiakassovellus
Exec=/usr/bin/opensteam %U
GenericName=Game Launcher
Icon=opensteam
MimeType=
Name=OpenSteam
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application